---
title: pages
description: dr robbie fordyce - coding and research blog 
layout: default
---
<head>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<h3><a href="index.html">Blog</a> | DOCS</h3>

{% for d_page in site.docs %}
{% if forloop.first %}
{% else %}
<hr style="width:75%;color:gray;margin-top:20px;margin-bottom:5px" />
{% endif %}
<a href="{{ d_page.url }}"><h4>{{ d_page.title }}</h4></a>
<div style="margin-left:20px;font-size:0.75em;">
by {{ d_page.author }}
- [
{% for ptag in d_page.tags %}
  {% if forloop.first %}
  <span class="ptag">{{ ptag }}</span>
  {% else %}
   | <span class="ptag">{{ ptag }}</span>
  {% endif %}
{% endfor %}
]
<div>{{ d_page.description }}&nbsp;--&nbsp;<a href="{{ d_page.url }}">[[ Read more ]]</a></div>
</div>
{% endfor %}