---
title: blog
description: dr robbie fordyce - coding and research blog 
layout: default
---
<h3>Latest Posts</h3>
{% for post in site.posts %}
{% if forloop.first %}
{% else %}
<hr style="width:75%;color:gray;margin-top:20px;margin-bottom:5px" />
{% endif %}
<b><a href="{{ post.url }}">{{ post.title }}</a></b>
<div style="margin-left:20px;font-size:0.75em;">
by <a href="/_authors/{{ post.author }}"> {{ post.author }}</a>
{% if post.date %}
 - {{post.date | date_to_string}}
{% endif %}
{% for ptag in post.tags %}
  {% if forloop.first %}
  - {{ ptag }}
  {% else %}
   | {{ ptag }}
  {% endif %}
{% endfor %}
{{ post.content | truncatewords: 10}}
<a href="{{ post.url }}">[[ Read more ]]</a></div>
{% endfor %}
