---
title: blog
description: dr robbie fordyce - coding and research blog 
layout: default
---
<h3>Latest Posts</h3>

<h2>updated 15.49</h2>

{% for post in site.posts %}
    <p><b><a href="{{ post.url }}">{{ post.title }}</a></b></p>
      {{ post.excerpt }}
      <a href="{{ post.url }}">[[ Read more ]]</a></h2>
    {% endtablerow %}
  {% endfor %}

<table>
  {% for tablerow post in site.posts %}
    <p><b><a href="{{ post.url }}">{{ post.title }}</a></b></p>
      {{ post.excerpt }}
      <a href="{{ post.url }}">[[ Read more ]]</a></h2>
    {% endtablerow %}
  {% endfor %}
</table>

<ul>
  {% for post in site.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
      <a href="{{ post.url }}">[ Read more ]</a></h2>
    </li>
  {% endfor %}
</ul>
