---
title: blog
description: dr robbie fordyce - coding and research blog 
layout: default
---
<head>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<h3>{{ page.title }}</h3>
{% for post in site.posts %}
{% if forloop.first %}
{% else %}
<hr style="width:75%;color:gray;margin-top:20px;margin-bottom:5px" />
{% endif %}
<a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
<div style="margin-left:20px;font-size:0.75em;">
by {{ post.author }}
{% if post.date %}
 - {{post.date | date_to_string}}
{% endif %}
- [
<span style="color:gray">
{% for ptag in post.tags %}
  {% if forloop.first %}
  {{ ptag }}
  {% else %}
   | {{ ptag }}
  {% endif %}
{% endfor %}
</span>]
{{ post.content | truncatewords: 10, "&nbsp;--&nbsp;" }} <a href="{{ post.url }}">[[ Read more ]]</a>
</div>
{% endfor %}